<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="x-apple-disable-message-reformatting">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
    <meta name="color-scheme" content="light dark">
    <meta name="supported-color-schemes" content="light dark">
    <!--[if mso]>
    <noscript>
        <xml>
            <o:OfficeDocumentSettings xmlns:o="urn:schemas-microsoft-com:office:office">
                <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
    </noscript>
    <style>
        td, th, div, p, a, h1, h2, h3, h4, h5, h6 {
            font-family: "Segoe UI", sans-serif;
            mso-line-height-rule: exactly;
        }
    </style>
    <![endif]-->
    <style>
        @media (max-width: 600px) {
            .sm-h-8 {
                height: 32px !important;
            }

            .sm-w-full {
                width: 100% !important;
            }

            .sm-w-6 {
                width: 24px !important;
            }

            .sm-px-4 {
                padding-left: 16px !important;
                padding-right: 16px !important;
            }

            .sm-py-8 {
                padding-top: 32px !important;
                padding-bottom: 32px !important;
            }

            .sm-px-6 {
                padding-left: 24px !important;
                padding-right: 24px !important;
            }

            .sm-text-3xl {
                font-size: 30px !important;
            }

            .sm-leading-10 {
                line-height: 40px !important;
            }
        }
    </style>
</head>
<body style="word-break: break-word; -webkit-font-smoothing: antialiased; margin: 0; width: 100%; background-color: #f8fafc; padding: 0">
<div role="article" aria-roledescription="email" aria-label="" lang="en">
    <table style="width: 100%; font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', sans-serif" cellpadding="0" cellspacing="0" role="presentation">
        <tr>
            <td align="center" class="sm-px-4" style="background-color: #f8fafc">
                <table class="sm-w-full" style="width: 600px" cellpadding="0" cellspacing="0" role="presentation">
                    <tr>
                        <td class="sm-py-8 sm-px-6" style="padding: 48px; text-align: center">
                            <a href="https://github.com/vse-plus">
                                <img src="https://avatars.githubusercontent.com/u/108870700?s=200&v=4" width="70" alt="VŠE+"
                                     style="border: 0; max-width: 100%; border-radius: 8px; vertical-align: middle; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1)">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-radius: 8px; background-color: #fff; background-size: cover; background-position: top; background-repeat: no-repeat; text-align: left; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1)">
                            <table style="width: 100%" cellpadding="0" cellspacing="0" role="presentation">
                                <tr>
                                    <td class="sm-w-6" style="width: 48px"></td>
                                    <td>
                                        <p style="text-align: center; font-size: 30px">
                                            🔔
                                        </p>
                                        <h1 class="sm-text-3xl sm-leading-10" style="margin: 0; margin-bottom: 16px; text-align: center; font-size: 36px; color: #000">
                                            Připomenutí odevzdávárny
                                        </h1>
                                        <p style="margin: 0; margin-top: 40px; text-align: center; font-size: 18px; line-height: 2; color: #737373">
                                            Odevzdávárna <strong style="font-weight: 900; color: #3730a3" th:text="${name}"></strong> z předmětu <strong
                                                style="font-weight: 900; color: #3730a3" th:text="${course}"></strong> se uzavře <strong style="font-weight: 900; color: #3730a3"
                                                                                                                                         th:text="${due}"></strong>
                                        </p>
                                    </td>
                                    <td class="sm-w-6" style="width: 48px"></td>
                                </tr>
                            </table>
                            <div class="sm-h-8" style="line-height: 64px">&zwnj;</div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
